body{
    width : auto; 
    height: auto; 
    margin : 0; 
    padding: 0; 
    background-color: #0A0618;
    color : whitesmoke; 
    font-family: 'Maven Pro', sans-serif;
    text-decoration: none;
    display: flex; 
    justify-content: space-around;
}

/* Teaser */

#Teaser {
    height:100vh;
    width: 35%;
    display: flex;
    flex-direction: column;
}

#Teaser img{
    width: 88%;
}

/* Main Page */

#MainPage {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    height: 100vh;
}

/* Header */

h1{
    font-family: 'Long Cang', cursive;
    font-size: 6vw;
    margin: 0; 
}
  
#line {
    width: 60%;
    border-top: whitesmoke 1px solid;
    margin-left: 400px;
    margin-top: -80px;
}

/* Boutons */

#Boutons {
    display: flex; 
    margin-top: 2vw;
}

#Boutons #LogIn{
    background: #19193D;
    border: white 0.2px solid;
    font-size: 1.875em;
    padding: 20px; 
}

#Boutons #SignUp{
    background: #19193D;
    border: white 0.2px solid;
    font-size: 1.875em;
    padding: 20px; 
    margin-left: 120px;
}

#Boutons a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.8);
}

#Boutons #SignUp:hover {
    background: #655B6C;
    transition: 1s ease;
}

#Boutons #LogIn{
    padding: 0 2vw 0 2vw;
}

#Boutons #LogIn:hover {
    background: #655B6C;
    transition: 1s ease;
}

/* Formulaires */

/* Section ContainerLogIn */

#ContainerLogIn {
    width: 100%;
    display: none; 
    flex-direction: column;
    align-items: center;
}

/* Icône Fermeture */

#Fermeture{
    display: flex;
    width: 4%;
    margin-right: 30vw;
}

/* Formulaire de Log In */

#LogInForm{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-shadow:0 2px 5px 2px #655B6C;
}

h3{
    margin: 20px 0 20px 0;
    font-weight: 200;
    font-size: 1.4vw;
}

form {
    padding-top: 40px; 
    font-size: 1vw;
}

.FormGroup {
    margin-bottom: 2vw;
}

input{
    color: whitesmoke;
    background-color: #0A0618;
    margin-bottom: 20px;
}

input:focus {
    border: #19193D; 
    transition: 1s ease;
}

#Submit {
    margin: 2vw;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#Submit button{
    color: whitesmoke;
    margin-top: 2vw;
    background: #19193D;
    border: white 0.2px solid;
    font-size: 1.2em;
    padding: 0.7vw; 
}

#Submit button:hover {
    background: #655B6C;
    transition: 1s ease;
}

/* Section ContainerAbonnement */

#ContainerAbonnement {
    display: flex; 
    flex-direction: column;
}
/* Icône Fermeture */

#Fermeture2{
    display: flex;
    width: 4%;
}

/* Présentation des abonnements */
 
#FenêtreAbonnements {
    display: none;
}

#AbonnementBasic{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#AbonnementPremium{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#AbonnementBasic #AbonnementPremium h3 {
    font-size: 1.4vw;
    font-weight: 200;
}

#AbonnementBasic h3{
    margin: 2vw; 
    text-align: center;
}

#AbonnementPremium h3 {
    margin: 2vw; 
    text-align: center;
}

.Checked{
    margin:0.6vw; 
}

.Checked li {
    list-style: none;
}

#AbonnementBasic{
    box-shadow:0 2px 5px 2px #655B6C;
    margin-right: 20px;
    padding: 20px;
}

#AbonnementPremium {
    box-shadow:0 2px 5px 2px #655B6C;
    margin-left: 20px;
    padding: 20px;
}

.Bouton button{
    color: whitesmoke;
    margin-top: 2vw;
    background: #19193D;
    border: white 0.2px solid;
    font-size: 1.2em;
    padding: 0.7vw; 
}

.Bouton button:hover {
    background: #655B6C;
    transition: 1s ease;
}

/* Phrase d'accroche */

#Accroche {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vw;
}

#Accroche a{
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: none;
}

/* Footer */

footer{
    display: flex; 
    flex-direction: column;
    width: 100%;
    /* margin-top: 250px; */
    margin-right: 35px;
}

.LiensUtiles{
    display: flex;
    justify-content: space-between;
}

footer #Réseaux {
    display: flex; 
    justify-content: space-around;
}

footer #Réseaux img{
    width: 50%
}

footer a {
    color: whitesmoke;
    font-size: 1.2em;
    text-decoration: none;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
}

footer a:hover {
    text-decoration: none;
    color: whitesmoke;
}


