body{
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	color: whitesmoke;
	background: #0A0618;
	font-family: 'Maven Pro', sans-serif;
}
iframe{
	position: fixed;
	width: 100%;
	height: 100%;
}


.visionnage{
	width: 100%;
	height: 100%;
}

.retourparametre{
	width: 100%;
	min-height: 50px;
	display: flex;
	justify-content: space-between;
	/*background: rgba(10, 6, 24, 0.85);*/
	position: absolute;
	top: 10px;
}

.retourparametre img{
	width: 50px;
	height: 50px;
	margin: 0 20px;
}

.pause{
	min-width: 100%;
	min-height: 170px;
	/*background: rgba(10, 6, 24, 0.85);*/
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 50%;
}

.soustitres{
	min-width: 100%;
	min-height: 70px;
	text-align: center;
	/*background: rgba(10, 6, 24, 0.85);*/
	position: absolute;
	bottom: 150px;
}

.parametreprogression{
	width: 100%;
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
	/*background: rgba(10, 6, 24, 0.85);*/
}



.imagesdefilement{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
}

.baricones{
	min-width: 100%;
	min-height: 50px;
	/*background: rgba(10, 6, 24, 0.85);*/
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.baricones img {
	width:30px;
	height: 30px;
}

.groupbuttgauche{
	margin-left: 30px;
	display: flex;
	justify-content: space-around;
	width: 20%;
}

.groupbuttdroit{
	margin-right: 30px;
	display: flex;
	justify-content: space-around;
	width: 20%;
}

.langues{
	background: red;
	min-width: 90px;
	height: 150px;
	position: absolute;
	right: 250px;
	bottom: 150px;
	border: 2px solid #0A0618;	
	background: rgba(101, 91, 108, 0.95);
	text-align: center;
	display: none;
}

.langues ul{
	line-height: 30px;
	list-style: none;
	padding:2px;
	width: 100%;
}



.imagesdefilement div{
	width:10%;
	height: 100%;
	border: 1px solid rgba(10, 6, 24);
}


.episode{
	width: 100%;
	position: absolute;
	top: 10%;
	min-height: 300px;
	background: red;
	display: none;
}